<footer class="text-muted">
    <div class="container">
        <p class="float-right">
        <%= link_to "View All Portfolio Items", portfolios_url %> /
        <a href="#">Back to top</a>
        </p>
    </div>